In [1]:
import sys 
sys.path.append("src")

In [2]:
APPROACH_1_DEPLOYMENT_ID = "67c9e6c915cb2e48bbbf1319"
APPROACH_2_DEPLOYMENT_ID = "67c9de2aac3f545791bf1249"

In [3]:
from get_data import get_data 
from preprocess import preprocess
from score import score
from postprocess import postprocess
from write_predictions import write_predictions

## Approach 1

Umbrella calls each seach submodel deployed to datarobot

In [4]:
df = get_data() 
df = preprocess(df)
preds = score(df.drop(["charges"], axis=1), APPROACH_1_DEPLOYMENT_ID)
preds = postprocess(preds)
write_predictions(preds)

2025-03-06 13:26:44,832 score.py:91 INFO prediction request status code: 200
2025-03-06 13:26:44,835 score.py:135 INFO ==============================
2025-03-06 13:26:44,836 score.py:136 INFO number of seconds to complete scoring: 5.832275
2025-03-06 13:26:44,836 score.py:137 INFO ==============================

True

In [5]:
import pandas as pd 
from io import StringIO
print(preds[0]["tag"])
pd.read_csv( StringIO(preds[0]["predictions"]))

quantile-0.55

,charges_PREDICTION,DEPLOYMENT_APPROVAL_STATUS,ASSOCIATION_ID
0,1617.811036,APPROVED,8b4fa3f0-fab8-11ef-8516-aa34fbca8d66
1,1728.998258,APPROVED,8b4fa4cc-fab8-11ef-8516-aa34fbca8d66
2,5181.711251,APPROVED,8b4fa526-fab8-11ef-8516-aa34fbca8d66
3,5376.953586,APPROVED,8b4fa54e-fab8-11ef-8516-aa34fbca8d66
4,5102.524783,APPROVED,8b4fa562-fab8-11ef-8516-aa34fbca8d66
...,...,...,...
1333,11082.680481,APPROVED,8b5017a4-fab8-11ef-8516-aa34fbca8d66
1334,1345.579818,APPROVED,8b5017b8-fab8-11ef-8516-aa34fbca8d66
1335,1340.552396,APPROVED,8b5017cc-fab8-11ef-8516-aa34fbca8d66
1336,2156.216090,APPROVED,8b5017ea-fab8-11ef-8516-aa34fbca8d66
1337,12878.152589,APPROVED,8b5017fe-fab8-11ef-8516-aa34fbca8d66

## Approach 2 

Packing all submodels into Umbrella Model.

In [6]:
df = get_data() 
df = preprocess(df)
preds = score(df.drop(["charges"], axis=1), APPROACH_2_DEPLOYMENT_ID)
preds = postprocess(preds)
write_predictions(preds)

2025-03-06 13:26:54,958 score.py:91 INFO prediction request status code: 200
2025-03-06 13:26:54,971 score.py:135 INFO ==============================
2025-03-06 13:26:54,972 score.py:136 INFO number of seconds to complete scoring: 1.192187
2025-03-06 13:26:54,972 score.py:137 INFO ==============================

True

In [7]:
pd.DataFrame(preds["quantile-0.05"], columns = ["quantile-0.05"])

      quantile-0.05
0        376.785871
1        550.827214
2       4133.647009
3       4063.149062
4       3745.813469
...             ...
1333    9869.411145
1334      79.509378
1335      33.620115
1336     916.048346
1337   11279.917106

[1338 rows x 1 columns]